*.cache
KBK - Picability/KBK - Picability/obj/Debug/net8.0/KBK - Picability.AssemblyInfoInputs.cache
KBK - Picability/KBK - Picability/obj/Debug/net8.0/KBK - Picability.csproj.AssemblyReference.cache
KBK - Picability/KBK - Picability/obj/Debug/net8.0/KBK - Picability.GeneratedMSBuildEditorConfig.editorconfig
KBK - Picability/KBK - Picability/obj/Debug/net8.0/KBK - Picability.GlobalUsings.g.cs
KBK - Picability/KBK - Picability/obj/Debug/net8.0/KBK - Picability.AssemblyInfo.cs
KBK - Picability/KBK - Picability/obj/Debug/net8.0/rpswa.dswa.cache.json
